<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01_HelloWorld</title>
</head>
<body>

<!--
  1. 引入Vue.js
  2. 创建Vue对象
    el : 指定根element(选择器)
    data : 初始化数据(页面可以访问)
  3. 双向数据绑定 : v-model
  4. 显示数据 : {{xxx}}
  5. 理解vue的mvvm实现
-->

<!--模板-->
<div id="test">
    <input type="text" v-model="msg"><br><!--指令-->
    <input type="text" v-model="msg"><!--指令-->
    <p>hello {{msg}}</p><!--大括号表达式-->
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    const vm = new Vue({ // 配置对象 options
        // 配置选项(option)
        el: '#test',  // element: 指定用vue来管理页面中的哪个标签区域
        data: {
            msg: 'atguigu'
        }
    })
</script>
</body>
</html>

<!--
mvvm

Vue.js 的 MVVM (Model-View-ViewModel) 架构模式实现是指 Vue 如何管理和更新用户界面和数据模型之间的关系。在 Vue 中，MVVM 的关键特性是数据驱动的响应式用户界面，这意味着任何数据模型的改变都会自动反映在用户界面上，而无需显式调用 DOM 更新操作。
下面是 Vue 的 MVVM 实现的关键组成部分：
Model（模型）:
Model 层代表应用程序的数据层，包含业务逻辑和数据结构。
在 Vue 中，Model 通常是 data 对象中的属性，它们可以在 Vue 实例中定义。
View（视图）:
View 层是用户看到并与之交互的界面。
在 Vue 中，View 是由模板语法和 HTML 结构组成的，它可以通过双大括号 {{ }} 插值表达式或 v-bind 指令绑定到 Model 数据。
ViewModel（视图模型）:
ViewModel 是 MVVM 模式中的核心，它作为 Model 和 View 之间的桥梁。
在 Vue 中，ViewModel 是 Vue 实例本身，它负责监听 Model 的变化并更新 View，同时也监听 View 的事件并更新 Model。
ViewModel 使用数据观察者（Observer）和编译器（Compile）来实现数据的响应式和视图的更新。
Vue 的 MVVM 实现机制如下：
数据响应化:
Vue 使用数据劫持结合发布/订阅模式的方式，通过 Object.defineProperty() 方法将数据对象的每个属性转换为 getter/setter，这样就可以追踪到属性的访问和修改。
指令系统:
Vue 提供了一系列的指令（如 v-model, v-if, v-for 等），用于在模板中操作 DOM 和绑定数据。
观察者（Watcher）:
Watcher 负责收集依赖，并在依赖的数据变化时执行更新操作。每当数据变化时，Watcher 就会被通知，从而触发视图的更新。
依赖收集（Dependency Collection）:
Dep（依赖）对象用于存储 Watcher，当数据变化时，Dep 会通知所有订阅的 Watcher 去更新视图。
通过这种方式，Vue 的 MVVM 实现允许开发者以声明式的方式来编写用户界面，简化了状态管理和 DOM 操作，提高了开发效率和代码可维护性。

-->